services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: movie_rating
    ports:
      - "5432:5432"

  app:
    build: .
    depends_on:
      - db
    environment:
      DB_URL: postgresql+psycopg2://admin:admin@db:5432/movie_rating
      SERVER_PORT: 8080
    ports:
      - "8080:8080"

